header{
    background: #0D1010;
    width: 100%;
    height: 300px;
    color: white!important;
    text-align: center;
}

nav{
    color: red;
    padding-top: 15px;
    width: 30%;
    margin: auto;
    text-align: right;
}

.white{
    color: rgb(219, 219, 219);
}

.weblogtitle{
    font-size: 35pt;
    margin-top: 30px;
    display: block;

}
